form.login,
form.signup {
  width: 400px;
  margin: auto auto;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}
h2 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}
.username,
.password {
  font-size: 1.5em;
  display: block;
}
input {
  font-size: 1em;
  width: 400px;
  padding: 0;
  padding-top: 10px;
}
.submit-button {
  font-size: 1.5em;
  width: 400px;
  text-align: center;
  border: #000000 solid 2px;
  padding: 0;
  margin-top: 10px;
  box-sizing: content-box;
}
.submit-button:hover {
  filter: brightness(70%);
}
.submit-button:active {
  filter: brightness(50%);
}
