@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: slateblue;
  height: 40px;
  color: #fff;
  padding: 5px;
}
.navbar .title {
  height: 40px;
  float: right;
  text-decoration: none;
}
.navbar .title .title-name,
.title-name:visited,
.title-name:active {
  display: inline;
  font-size: 2.5em;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  height: 40px;
  width: auto;
  text-align: center;
  color: #fff;
}
.navbar .title .logo {
  display: inline;
  height: 40px;
}
