.draft {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 2px solid black;
  border-radius: 5px;
  width: 92vw;
  margin: 10px 0;
}
.draft span {
  width: 46vw;
}
.load {
  margin-right: 20px;
}
